
$color-grey-light : #545454;
$color-grey-dark: #fff6a925;
$color-box-shadow-grey: #54545421;


$color-blue-light : #237984dc;
$color-blue-light-1 : #6096b7;
$color-blue-dark : #8B67BF;

$color-yellow-light : #FFDA8B;
$color-yellow-light-1 : #DAB058;
$color-yellow-dark : #F2C35C;
$color-yellow-dark-1 : #DEB131;


$color-white-light: #FFFDE8;

$color-gradient-first : #f39d12;
$color-gradient-second :#f1c40f;
$color-gradient-third :#e67d22;
